body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s,color 0.3s;
   
}



.background-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 25px;
}
.background-container p{
    font-weight: 700;
}
.action-button{
    display: flex;
    position: fixed;
    height: 31px;
    width: 46px;
    right: 8px;
   align-items: center;
   
    border-radius: 15%;
    cursor: pointer;
}

.action-button i{
    font-size: 35px;
   
}

.reset-button {
   
 
    font-size: 16px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 20px auto 0;
    
}

.action-button, .reset-button {
    transition:  0.3s, color 0.3s;
}
